@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
    margin: unset;
    font-family: 'Poppins', sans-serif;

}

.order-form {
    width: 1125px;
    height: 1247px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 40px;
}


.order-form-header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid black;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    width: 90%;

}

.order-form-header img {

    height: 60px;
    width: 60px;
    border-radius: 50%;

}


.order-details .customer-details {
    width: 1000px;
    margin-bottom: 60px;
}

.order-details .customer-details .details-list-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.order-details .customer-details .details-list-wrapper ul {
    all: unset;
    width: 50%;
}

.customer-details .details-list-wrapper ul li {

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
     

}

.customer-details .details-list-wrapper ul li b {

    width: 30%;
    white-space: nowrap;

}

.customer-details .details-list-wrapper ul li span {

    width: 50%;


}



.delivery-details ul li {
 
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;


}


.delivery-details ul {

    all: unset;
    list-style: none;

}

.delivery-details ul li b {


    width: 150px;
    white-space: nowrap;
}

.delivery-details ul li span {

    width: 30%;
    white-space: nowrap;

}






.order-form table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.order-form table thead {
    border: 1px solid black;
}



.order-form table tbody td div img {
    background-color: whitesmoke;
    border-radius: 14px;
    height: 86px;
    width: 65px;
}

.order-form table tbody td div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}


.order-form table tbody td div label {
    min-width: 0; /* Add this line */
    width: 280px; 
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.order-form table tbody tr {

    border-bottom: 1px solid lightgray;

}

.order-form table tbody tr td {

    padding: 10px;

}













.order-form-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.order-form-footer .left-component {
    width: 70%;
    display: flex;
    align-items: end;
    justify-content: start;
}

.order-form-footer .left-component .btn-wrapper {


    display: flex;
    gap: 10px;


}

.order-form-footer .left-component .btn-wrapper .btn-1 {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    height: 31px;
    width: 127px;
    border-radius: 8px;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;

}

.order-form-footer .left-component .btn-wrapper .btn-2 {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: lightgray;
    color: black;
    height: 31px;
    width: 127px;
    border-radius: 8px;
    border: 1px solid lightgray;

    transition: background-color 0.3s, color 0.3s;


}


.order-form-footer .left-component .btn-wrapper .btn-1:hover {

    color: black;
    background-color: white;
    border: 1px solid black;

}

.order-form-footer .left-component .btn-wrapper .btn-2:hover {

    background-color: dimgray;
    color: white;


}


.order-form-footer .right-component {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.order-form-footer .right-component .item-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.order-form-footer .right-component .item-1 span {
    width: 190px;
}

.order-form-footer .right-component .item-1 label {
    width: 120px;
}




.order-form-footer .right-component .item-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    border-top: 1px solid lightgray;
    padding-top: 15px;
}

.order-form-footer .right-component .item-2 span {
    width: 190px;
}

.order-form-footer .right-component .item-2 label {
    width: 120px;
}


@media print {
    .left-component {
        opacity: 0;
    }


}